@model List<Purchase>
@{int i=0;}
<div class="container header-container">
    <section id="header">

        <a href="#"><img class="LogoShop" src="~/Images/LogoShop.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a asp-controller="Admin" asp-action="AddProduct">Add product</a></li>
                <li><a asp-controller="Admin" asp-action="ListProducts">List Products</a></li>
                <li><a asp-controller="Admin" asp-action="ListCustomers">List customers</a></li>
                <li><a class="active">History</a></li>
            </ul>
        </div>
    </section>
</div>

<section id="AdminHistory" class="history">
    <div class="historyTitle">
        <h3>history of the purchases </h3>
    </div>

    <table>
        <thead>
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Date de l'achat</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Purchase purchase in Model)
            {
                <tr>
                    <td>@purchase.Product.Name </td>           
                    <td>@purchase.Product.Price $</td>
                    <td>@purchase.QuantityPurchase</td>
                    <td>@ViewBag.Total[i] $</td>
                    <td>@purchase.Date </td>
                </tr>

                i++;    
               
            }

            
        </tbody>
    </table>

</section>




<div class="footer">
    <footer>
        <div class="row">
            <div class="column">
                <img class="LogoShop" src="~/Images/LogoShopWhiteBG.png" alt="">
                <p>Fashion Meets Individuality!</p>
            </div>
            <div class="column ">
                <h4>Contact</h4>
                <p><span>adresse: </span>23 Avenue de l'Europe Schiltigheim France</p>
                <p><span>email: </span>youssef.korsa@gmail.com</p>
                <p><span>Phone: </span>06 88 99 19 52</p>
            </div>
            <div class="column ">
                <h4>Links</h4>
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
                </ul>
            </div>
            <div class="column ">
                <h4>Follow us</h4>
                <div class="social-media">
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i>
                    <i class="fa fa-whatsapp fa-lg"></i>
                    <i class="fa fa-github fa-lg"></i>
                </div>

            </div>
        </div>

    </footer>
</div>

<div class="Copyrights">
    <p>Designed by KORSA Youssef-Copyrights 2024</p>
</div>