@model Product
<div class="container header-container">
    <section id="header">

        <a href="#"><img class="LogoShop" src="Images/LogoShop.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="active">Shop</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="History">History</a></li>
                <li><a asp-controller="Home" asp-action="User"><i class="fa fa-user fa-lg"></i></a></li>
                <li><a asp-controller="Home" asp-action="Cart"><i class="fa fa-shopping-cart fa-lg"></i></a></li>

            </ul>
        </div>
    </section>
</div>

<div class="productDetails">
    <div class="productImage">
        <img src="@Model.ImageURL" alt="">
    </div>
    <div class="productDetail">
        <h6>@Model.Name</h6>
        <h4>@Model.Category</h4>
        <h2>@Model.Price $</h2>
        <select>
            <option>Select size</option>
            <option>S </option>
            <option>M </option>
            <option>L </option>
            <option>XL </option>
            <option>XXL </option>
            <option>XXXL </option>
        </select>
        <form asp-controller="Home" asp-action="CartPost" >
            <input style="display:none" name="Id" value="@Model.Id"/>
            <input name="Quantity" type="number" value="1" min="1">
            <button>Add to cart</button>
        </form>
        <h4>Products details</h4>
        <span>@Model.Description</span>

    </div>
</div>





<div class="newsLetter">
    <section id="newsLetterSection">
        <div class="newsLetterText">
            <h4>Sign up for newsLetters</h4>
            <p>get updates about our latest shop and <i>special offers</i></p>
        </div>
        <div class="newsLetterForm">
            <input type="text" placeholder="Enter your email">
            <button>Sign up</button>
        </div>
    </section>
</div>

<div class="footer">
    <footer>
        <div class="row">
            <div class="column">
                <img class="LogoShop" src="Images/LogoShopWhiteBG.png" alt="">
                <p>Fashion Meets Individuality!</p>
            </div>
            <div class="column ">
                <h4>Contact</h4>
                <p><span>adresse: </span>23 Avenue de l'Europe Schiltigheim France</p>
                <p><span>email: </span>youssef.korsa@gmail.com</p>
                <p><span>Phone: </span>06 88 99 19 52</p>
            </div>
            <div class="column ">
                <h4>Links</h4>
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
                </ul>
            </div>
            <div class="column ">
                <h4>Follow us</h4>
                <div class="social-media">
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i>
                    <i class="fa fa-whatsapp fa-lg"></i>
                    <i class="fa fa-github fa-lg"></i>
                </div>

            </div>
        </div>

    </footer>
</div>

<div class="Copyrights">
    <p>Designed by KORSA Youssef-Copyrights 2024</p>
</div>